@model Bank.spCrudResult

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<br />

<h3>Are you sure you want to delete this employee record?</h3>

<br />

<div style="display: flex; justify-content: center;">
    <div style="border: 2px solid #f2f2f2; box-shadow: 8px 8px 10px #e6e6e6; padding: 20px; ">
        <table class="table table-bordered" style=" width: 275px;font-size: 17px;">
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Name) :</strong></td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Email) :</strong></td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Salary) :</strong></td>
                <td>@Html.DisplayFor(model => model.Salary)</td>
            </tr>
        </table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                <a href="/Employee" class="btn btn-default btn-sm">Cancel</a>
            </div>
        }
    </div>

</div>
